<!DOCTYPE html>
<html>
  <head>
    <title>MakeUp</title>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Muli|Source+Sans+Pro:400,700,700i&display=swap" rel="stylesheet">
  </head>

  <body>

	<nav id="nav">
    <ul class="container">        
      <button class="btn btn-dark"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></button>
    	<li><a href="/types">Home</a></li>

		</ul>
	</nav>

	<div id="header">
				<span class="logo icon fa-paper-plane"></span>
        <%
=begin%>
 Para mandar a imprimir el nombre en el current
<%
=end%>
	<h1>Welcome to the MAKEUP API <br> <%= current_user.name%></h1>
  <br> <%= link_to image_tag("maquillaje2.png",  :class => 'dock-item') %>
</div>

		<!-- Main -->
			<div id="main">

				<header class="major container medium">
					<h2> where you will find different 
					<br />
				types of makeup at affordable prices.
				</header>

				
				
				<footer class="major container medium">
					<h3>I could stop buying makeup</h3>
					<p> but the truth is that I do not usually give up easily.</p>
				
				</footer>

			</div>

<% if @array %> 
 <div class="row">
<% @array.each do |type| %>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body1">
       <center> <p><%= type["product_type"]%></p>
       <center> <p class="card-text">Develop a pink tinge in the face.</p>
       <center><%= link_to "Category", category_Blush_path(:type => "blush"), :class => 'btn btn-primary' %></center>
      </div>
    </div>
  </div>
 
        <% end %>
</div>
<% end %>


<footer>
  <p>Posted by: Maria Jose Chavarria Bravo.</p>
  <p>Contact information: <a href="marita.jose.ch@gmail.com">
  marita.jose.ch@gmail.com</a></p>
</footer>



</body> 
  </html>







