<!DOCTYPE html>
<html>
  <head>
    <title>MakeUp</title>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>


<p>Welcome to API of MakeUp</p>


<div class="card w-50">
  <div class="card-body1">
    <h4 class="card-title">---Blush---</h4>
    <h5 class="card-text">Para darle color a tu cara.</h5>
    <%= link_to "Category", category_Blush_path(:type => "blush"), :class => 'btn btn-primary' %>
  </div>
</div>

<div class="card w-50">
  <div class="card-body2">
    <h4 class="card-title">---Bronzer---</h4>
    <h5 class="card-text">Para darle contor a tu cara.</h5>
    <%= link_to "Category", category_Bronzer_path(:type => "bronzer"), :class => 'btn btn-primary' %>
  </div>
</div>

<div class="card w-50">
  <div class="card-body3">
    <h4 class="card-title">---Eyebrow---</h4>
    <h5 class="card-text">With supporting text below as a natural lead-in to additional content.</h5>
     <%= link_to "Category", category_EyeBrow_path(:type => "eyebrow"), :class => 'btn btn-primary' %>
  </div>
</div>

<div class="card w-50">
  <div class="card-body">
    <h4 class="card-title">---Eyeliner---</h4>
    <h5 class="card-text">Un toque realmente hermoso , hacen que tus ojos tenga una mirada increible</h5>
    <%= link_to "Category", category_EyeLiner_path(:type => "eyeliner"), :class => 'btn btn-primary' %>
  </div>
</div>


<div class="card w-50">
  <div class="card-body">
    <h4 class="card-title">---EyeShadow---</h4>
    <h5 class="card-text">Un toque realmente hermoso , hacen que tus ojos tenga una mirada increible</h5>
    <%= link_to "Category", category_EyeShadow_path(:type => "eyeshadow"), :class => 'btn btn-primary' %>
  </div>
</div>

<div class="card w-50">
  <div class="card-body">
    <h4 class="card-title">---Foundation---</h4>
    <h5 class="card-text">Un toque realmente hermoso , hacen que tus ojos tenga una mirada increible</h5>
    <%= link_to "Category", category_Foundation_path(:type => "foundation"), :class => 'btn btn-primary' %>
  </div>
</div>

<div class="card w-50">
  <div class="card-body">
    <h4 class="card-title">---LipLiner---</h4>
    <h5 class="card-text">Un toque realmente hermoso , hacen que tus ojos tenga una mirada increible</h5>
    <%= link_to "Category", category_LipLiner_path(:type => "lip_liner"), :class => 'btn btn-primary' %>
  </div>
</div>


<div class="card w-50">
  <div class="card-body">
    <h4 class="card-title">---Mascara---</h4>
    <h5  class="card-text">Un toque realmente hermoso , hacen que tus ojos tenga una mirada increible</h5>
    <%= link_to "Category", category_Mascara_path(:type => "mascara"), :class => 'btn btn-primary' %>
  </div>
</div>





</body>
  </html>







