<!DOCTYPE html>
<html>
  <head>
    <title>MakeUp</title>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>




        <% if @blush_categories %> 
        <% @blush_categories.each do |category| %>
       <%= link_to category, type_blush_category_path(:type => "blush", :category => category), :class => 'btn btn-primary' %>
        <%end%>
        <%end%>
    


        <% if @bronzer_categories %> 
        <% @bronzer_categories.each do |category| %>
        <%= category %>
         <%end%>
        <%end%>
    


    <% if @eyebrow_categories %> 
 <% @eyebrow_categories.each do |category| %>
<%= category %>
 <%end%>
<%end%>
 


    <% if @eyeliner_categories %> 
 <% @eyeliner_categories.each do |category| %>
<%= category %>
 <%end%>
<%end%>

 <% if @eyeshadow_categories %> 
 <% @eyeshadow_categories.each do |category| %>
<%= category %>
 <%end%>
<%end%>

<% if @foundation_categories %> 
 <% @foundation_categories.each do |category| %>
<%= category %>
 <%end%>
<%end%>


<% if @lip_liner_categories %> 
 <% @lip_liner_categories.each do |category| %>
<%= category %>
 <%end%>
<%end%>


<% if @mascara_categories %> 
 <% @mascara_categories.each do |category| %>
<%= category %>
 <%end%>
<%end%>


</body>
</html>
