<!DOCTYPE html>
<html>
  <head>
    <title>MakeUp</title>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>



<div class="card w-40">
  <div class="card-body">
    <center><h5 class="card-title">---BlushCategories---</h5></center>
    <center>
        <% if @blush_categories %> 
        <% @blush_categories.each do |category| %>
        <%= category %>
        <%end%>
        <%end%>
    </center>
  </div>
</div>

<div class="card w-40">
  <div class="card-body">
    <center><h5 class="card-title">---BronzerCategories---</h5></center>
    <center>
        <% if @bronzer_categories %> 
        <% @bronzer_categories.each do |category| %>
        <%= category %>
         <%end%>
        <%end%>
    </center>
  </div>
</div>

<div class="card w-40">
  <div class="card-body">
    <h5 class="card-title">---EyebrowCategories---</h5>
    <% if @eyebrow_categories %> 
 <% @eyebrow_categories.each do |category| %>
<%= category %>
 <%end%>
<%end%>
  </div>
</div>

<div class="card w-40">
  <div class="card-body">
    <h5 class="card-title">---EyeLinerCategories---</h5>
    <% if @eyebrow_categories %> 
 <% @eyeliner_categories.each do |category| %>
<%= category %>
 <%end%>
<%end%>
  </div>
</div>


</body>
</html>
