<!DOCTYPE html>
<html>
  <head>
    <title>MakeUp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

<body>
  <nav id="nav">
		<ul class="container">
			<li><a href="/types">Home</a></li>
		</ul>
	</nav>

  <div id="header">
		<span class="logo icon fa-paper-plane"></span>
		<h1>Welcome to the MAKEUP API</h1>
	</div>

  <br>

  <div>
    <div class="carousel">
      <ul class="slides">
      <input type="radio" name="radio-buttons" id="img-1" checked />
          <li class="slide-container">
            <div class="slide-image">
              <%= link_to image_tag("foundation.png",  :class => 'dock-item1') %>
            </div> 
          </li>
          <div class="carousel-dots">   
          </div>
      </ul>
    </div>
 </div>

  <br>
  <br>

<div class="container1">
 <h5>"Porfavor eliga la categoria que mas le guste".</h5>
  
  <% if @blush_categories %> 
    <% @blush_categories.each do |category| %>
   
     <% @ternario = @like.find{|id| id["id_api"] == category["id"].to_s} ? true : false %>
      <% if @ternario%>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-down' type='button' data-btn='#{category['id']}'>unlike</button></div>".html_safe %>
      <% else %>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-up' type='button' data-btn='#{category['id']}'>like</button></div>".html_safe %>
      <% end %>
        <% next if category["category"].nil?%>     
        <%= link_to category["category"], type_blush_category_path(:type => "blush", :category => category["category"]), :class => 'btn btn-primary'%>
        <%= @buttom %>
    <%end%>
 <%end%>
    
  <% if @bronzer_categories %> 
    <% @bronzer_categories.each do |category| %>
      <% @ternario = @like.find{|id| id["id_api"] == category["id"].to_s} ? true : false %>
      <% if @ternario%>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-down' type='button' data-btn='#{category['id']}'>unlike</button></div>".html_safe %>
      <% else %>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-up' type='button' data-btn='#{category['id']}'>like</button></div>".html_safe %>
      <% end %>
        <% next if category["category"].nil?%> 
        <%= link_to category["category"], type_bronzer_category_path(:type => "bronzer", :category => category), :class => 'btn btn-primary' %>
        <%= @buttom %>
    <%end%>
  <%end%>
    
  <% if @eyebrow_categories %> 
    <% @eyebrow_categories.each do |category| %>
     <% @ternario = @like.find{|id| id["id_api"] == category["id"].to_s} ? true : false %>
      <% if @ternario%>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-down' type='button' data-btn='#{category['id']}'>unlike</button></div>".html_safe %>
      <% else %>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-up' type='button' data-btn='#{category['id']}'>like</button></div>".html_safe %>
      <% end %>
       <% next if category["category"].nil?%> 
       <%= link_to category["category"], type_eyebrow_category_path(:type => "eyebrow", :category => category), :class => 'btn btn-primary' %>
       <%= @buttom %>
    <%end%>
  <%end%>
 
  <% if @eyeliner_categories %> 
   <% @eyeliner_categories.each do |category| %>
     <% @ternario = @like.find{|id| id["id_api"] == category["id"].to_s} ? true : false %>
      <% if @ternario%>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-down' type='button' data-btn='#{category['id']}'>unlike</button></div>".html_safe %>
      <% else %>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-up' type='button' data-btn='#{category['id']}'>like</button></div>".html_safe %>
      <% end %>
       <% next if category["category"].nil?%> 
       <%= link_to category["category"], type_eyeliner_category_path(:type => "eyeliner", :category => category), :class => 'btn btn-primary' %>
       <%= @buttom %>
    <%end%>
  <%end%>

  <% if @eyeshadow_categories %> 
   <% @eyeshadow_categories.each do |category| %>
     <% @ternario = @like.find{|id| id["id_api"] == category["id"].to_s} ? true : false %>
      <% if @ternario%>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-down' type='button' data-btn='#{category['id']}'>unlike</button></div>".html_safe %>
      <% else %>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-up' type='button' data-btn='#{category['id']}'>like</button></div>".html_safe %>
      <% end %>
       <% next if category["category"].nil?%>
       <%= link_to category["category"], type_eyeshadow_category_path(:type => "eyeshadow", :category => category), :class => 'btn btn-primary' %>
       <%= @buttom %>
    <%end%>
  <%end%>

  <% if @foundation_categories %> 
   <% @foundation_categories.each do |category| %>
     <% @ternario = @like.find{|id| id["id_api"] == category["id"].to_s} ? true : false %>
      <% if @ternario%>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-down' type='button' data-btn='#{category['id']}'>unlike</button></div>".html_safe %>
      <% else %>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-up' type='button' data-btn='#{category['id']}'>like</button></div>".html_safe %>
      <% end %>
       <% next if category["category"].nil?%>
       <%= link_to category["category"], type_foundation_category_path(:type => "foundation", :category => category), :class => 'btn btn-primary' %>
       <%= @buttom %>
   <%end%>
 <%end%>


 <% if @lip_liner_categories %> 
   <% @lip_liner_categories.each do |category| %>
     <% @ternario = @like.find{|id| id["id_api"] == category["id"].to_s} ? true : false %>
      <% if @ternario%>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-down' type='button' data-btn='#{category['id']}'>unlike</button></div>".html_safe %>
      <% else %>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-up' type='button' data-btn='#{category['id']}'>like</button></div>".html_safe %>
      <% end %>
       <% next if category["category"].nil?%>
       <%= link_to category["category"], type_lipliner_category_path(:type => "lip_liner", :category => category), :class => 'btn btn-primary' %>
       <%= @buttom %>
   <%end%>
 <%end%>


 <% if @mascara_categories %> 
   <% @mascara_categories.each do |category| %>
     <% @ternario = @like.find{|id| id["id_api"] == category["id"].to_s} ? true : false %>
      <% if @ternario%>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-down' type='button' data-btn='#{category['id']}'>unlike</button></div>".html_safe %>
      <% else %>
        <% @buttom = "<div class='holder'><button class='entypo-thumbs-up' type='button' data-btn='#{category['id']}'>like</button></div>".html_safe %>
      <% end %>
       <% next if category["category"].nil?%> 
       <%= link_to category["category"], type_mascara_category_path(:type => "mascara", :category => category), :class => 'btn btn-primary' %>
       <%= @buttom %>
   <%end%>
 <%end%>
</div>

</body>
</html>
