<!DOCTYPE html>
<html>
  <head>
    <title>MakeUp</title>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>


  <nav id="nav">
				<ul class="container">
					<li><a href="/types">Home</a></li>
				</ul>
	</nav>

	<div id="header">
				<span class="logo icon fa-paper-plane"></span>
				<h1>Welcome to the MAKEUP API</h1>
	</div>

		<div class="container1">
  

       <center> <% if @blush_categories %> 
        <% @blush_categories.each do |category| %>
       <%= link_to category, type_blush_category_path(:type => "blush", :category => category), :class => 'btn btn-primary' %>
        <%end%>
        <%end%>
    


        <% if @bronzer_categories %> 
        <% @bronzer_categories.each do |category| %>
        <%
=begin%>
 <%= category %>  asi es como estaba antes , lo nuevo es hacerlo dinamico para que 
 lo pueda leer la otra clase y vista products_expensive_and_cheap.
<%
=end%>
        <%= link_to category, type_bronzer_category_path(:type => "bronzer", :category => category), :class => 'btn btn-primary' %>

         <%end%>
        <%end%>
    


    <% if @eyebrow_categories %> 
 <% @eyebrow_categories.each do |category| %>
<%= link_to category, type_eyebrow_category_path(:type => "eyebrow", :category => category), :class => 'btn btn-primary' %>
 <%end%>
<%end%>
 


    <% if @eyeliner_categories %> 
 <% @eyeliner_categories.each do |category| %>
<%= link_to category, type_eyeliner_category_path(:type => "eyeliner", :category => category), :class => 'btn btn-primary' %>
 <%end%>
<%end%>

 <% if @eyeshadow_categories %> 
 <% @eyeshadow_categories.each do |category| %>
<%= link_to category, type_eyeshadow_category_path(:type => "eyeshadow", :category => category), :class => 'btn btn-primary' %>
 <%end%>
<%end%>

<% if @foundation_categories %> 
 <% @foundation_categories.each do |category| %>
<%= link_to category, type_foundation_category_path(:type => "foundation", :category => category), :class => 'btn btn-primary' %>
 <%end%>
<%end%>


<% if @lip_liner_categories %> 
 <% @lip_liner_categories.each do |category| %>
<%= link_to category, type_lipliner_category_path(:type => "lip_liner", :category => category), :class => 'btn btn-primary' %>
 <%end%>
<%end%>


<% if @mascara_categories %> 
 <% @mascara_categories.each do |category| %>
<%= link_to category, type_mascara_category_path(:type => "mascara", :category => category), :class => 'btn btn-primary' %>
 <%end%>
<%end%>

</div>


</body>
</html>
