<!DOCTYPE html>
<html>
  <head>
    <title>MakeUp</title>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>

    <nav id="nav">
	    <ul class="container">
		    <li><a href="/types">Home</a></li>
        <li><a href="/perfil">Perfil</a></li>
	    </ul>
   	</nav>

    <div id="header">
		 <span class="logo icon fa-paper-plane"></span>
      <h1>Welcome to the MAKEUP API <br> <%= current_user.name%></h1>
      <br> <%= link_to image_tag("labial.png",  :class => 'dock-item') %>
   </div>
	    
          
           <table class="table table-striped table-dark">
            
             <thead>
                <th scope="col">Name</th>
                <th  scope="col">Price</th>
                 <%  if @array %>
                 <% i= 0 %>
                 <% cantidad = @array.count-3%>
                
                 <h3><%= @infor %></h3> 
       
                <% @array.each do |record| 
                 i+=1
                 if i > cantidad
                %>
                <tr>
                  <th  scope="col"> <%= record["name"]%></th>
                  <th  scope="col">$<%= record["price"]%></th>
               </tr>
               <%
                 record["product_type"]
                 record["product_category"]
                 record["price"]
                 end
                 if i < 3
                %>
            </thead>
             <tbody>
                <tr>
                   <th scope="row"> <%= record["name"]%></th>
                   <th>$<%= record["price"]%></th>
                  </tr>
                <%
                   record["product_type"]
                   record["product_category"]
                   record["price"]
                end
                end
                end
                %> 
              </tbody>
            </table>
  </body>
</html>